.preview-item {
  position: relative;
  width: 265px;
}

.preview-item:hover {
  outline: 3px solid $link;
}

.preview-item__image {
  display: block;
  max-width: 100%;
}

.preview-item__link {}

.preview-item__meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(255,255,255,.5);
}

.preview-item__title {
  margin-bottom: 5px;
  color: $text;
}

.preview-item__price {}


.preview-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
