<!DOCTYPE html>
<html>
  <head>
    <title>Коктельные платья</title>
    <meta charset='UTF-8'>
    <script src='../bower_components/webcomponentsjs/webcomponents.js'></script>
    <link rel='import' href='../build/base.html'>
  </head>
  <body unresolved>
    <x-page>
      <x-header>
        <x-search action='<%= data.search.action %>' query='<%= data.search.query %>' />
      </x-header>
      <x-menu items='<%= JSON.stringify(data.menu.items) %>'></x-menu>
      <x-content>
        <x-listing xtitle='<%= data.title %>'>
          <x-breadcrumbs>
            <x-breadcrumbs-item href='<%= data.breadcrumbs[0].href %>' text='<%= data.breadcrumbs[0].text %>'></x-breadcrumbs-item>
            <x-breadcrumbs-item href='<%= data.breadcrumbs[1].href %>' text='<%= data.breadcrumbs[1].text %>'></x-breadcrumbs-item>
          </x-breadcrumbs>
          <x-aticle-lead text='<%= data.article.list %>' href='<%= data.article.href %>'></x-aticle-lead>
          <x-listing-main advanced>
            <x-preview-item image='<%= data.goods[0].image %>' href='<%= data.goods[0].href %>' xtitle='<%= data.goods[0].title %>' price='<%= data.goods[0].price %>'></x-preview-item>
            <x-preview-item image='<%= data.goods[1].image %>' href='<%= data.goods[1].href %>' xtitle='<%= data.goods[1].title %>' price='<%= data.goods[1].price %>'></x-preview-item>
            <x-banner href='<%= data.banners[0].href %>' text='<%= data.banners[0].text %>' grid></x-banner>
            <x-preview-item image='<%= data.goods[2].image %>' href='<%= data.goods[2].href %>' xtitle='<%= data.goods[2].title %>' price='<%= data.goods[2].price %>'></x-preview-item>
            <x-banner href='<%= data.banners[1].href %>' text='<%= data.banners[1].text %>' grid></x-banner>
            <x-preview-item image='<%= data.goods[3].image %>' href='<%= data.goods[3].href %>' xtitle='<%= data.goods[3].title %>' price='<%= data.goods[3].price %>'></x-preview-item>
            <x-preview-item image='<%= data.goods[4].image %>' href='<%= data.goods[4].href %>' xtitle='<%= data.goods[4].title %>' price='<%= data.goods[4].price %>'></x-preview-item>
            <x-preview-item image='<%= data.goods[5].image %>' href='<%= data.goods[5].href %>' xtitle='<%= data.goods[5].title %>' price='<%= data.goods[5].price %>'></x-preview-item>
            <x-preview-item image='<%= data.goods[6].image %>' href='<%= data.goods[6].href %>' xtitle='<%= data.goods[6].title %>' price='<%= data.goods[6].price %>'></x-preview-item>
            <x-preview-item image='<%= data.goods[7].image %>' href='<%= data.goods[7].href %>' xtitle='<%= data.goods[7].title %>' price='<%= data.goods[7].price %>'></x-preview-item>
            <x-preview-item image='<%= data.goods[8].image %>' href='<%= data.goods[8].href %>' xtitle='<%= data.goods[8].title %>' price='<%= data.goods[8].price %>'></x-preview-item>
            <x-banner href='<%= data.banners[2].href %>' text='<%= data.banners[2].text %>' grid></x-banner>
            <x-preview-item image='<%= data.goods[9].image %>' href='<%= data.goods[9].href %>' xtitle='<%= data.goods[9].title %>' price='<%= data.goods[9].price %>'></x-preview-item>
            <x-preview-item image='<%= data.goods[10].image %>' href='<%= data.goods[10].href %>' xtitle='<%= data.goods[10].title %>' price='<%= data.goods[10].price %>'></x-preview-item>
            <x-preview-item image='<%= data.goods[11].image %>' href='<%= data.goods[11].href %>' xtitle='<%= data.goods[11].title %>' price='<%= data.goods[11].price %>'></x-preview-item>
          </x-listing-main>
          <x-listing-nav>
            <x-categories items='<%= JSON.stringify(data.categories) %>'></x-categories>
            <x-help items='<%= JSON.stringify(data.help.items) %>' xtitle='<%= data.help.title %>'></x-help>
          </x-listing-nav>
        </x-listing>
      </x-content>
      <x-menu items='<%= JSON.stringify(data.menu.items) %>'></x-menu>
      <x-footer />
    </x-page>
  </body>
</html>
