.facet {}

.facet__title {
  padding: 12px 20px;
  font-weight: bold;
  cursor: pointer;
}

.facet__title:before {
  content: url('data:image/svg+xml;utf8,<svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg"><g transform="translate(1, 5)" stroke-width="1" stroke-linecap="square" stroke="#333333"><path d="M6.48821859,6 L6.5,6.01178141 L6.01178141,6.5 L6,6.48821859 L5.98821859,6.5 L5.5,6.01178141 L5.51178141,6 L0,0.488218591 L0.488218591,0 L6,5.51178141 L11.5117814,0 L12,0.488218591 L6.48821859,6 Z"></path></g></svg>');
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 10px;
}

.facet__content {
  padding: 8px 20px 12px;
}

.facet.is-closed .facet__title:before {
  top: 0;
  left: 1px;
  transform: rotate(-90deg);
}

.facet.is-closed .facet__content,
.facet.is-closed .facet__more {
  display: none;
}
